@* @model IEnumerable<LanchesApp.Models.Lanche> *@
<!--ou-->

@* @using LanchesApp.Models 
@model IEnumerable<Lanche> *@

@model LanchesListViewModel


<div><h2>@Model.CategoriaAtual</h2></div>

@foreach (var lanche in Model.Lanches)
{
    //renderizando a partial view html helper
    @* @Html.Partial("_LanchesResumo", lanche) *@
    <partial name="_LanchesResumo" for="@lanche" />
}